
html, body, ul, input {
    margin: 0px;
    padding: 0px;
}
body {
    background: #dcdbdb;
    margin-top: 80px;
}

pre {
    background: #e8e8e8;
    border: 1px solid #b7b4b4;
    z-index: 0;
}

#btns-row-edit {
    position: absolute;
    height: 40px;
    width: 45px;
    padding: 0px;
    margin: 0px;
    display: none;
}
#btns-col-edit{
    position: absolute;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display: none;
}

.circle-up {
    position: relative;
    left: 20px;
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABXklEQVR4nKWU0XGCQBCGv0XfTQexBCPk3Q5CB5IOKMEStIJoB1hBeA8oJWgHWIDZPHAYhOOYmH+GGWD3vlu43V+wyM+YAKG5nlrhEkiAJA+4tNeKBbZUWEsXdCeFUiDOA3a9wHnGh0DkAlnA20PAewfoZyyB7V9gDUV1pQIw++JtJCQPwgC4KmHxyl78jIlCITDtS1Y4md2dOQKzMRC5EgG+lRjA9RWGEY2BhQsGpMUrewA/Ix3IX3hUvdZfnfd76s37HoWeK6rK+jjnXD8f55xVWLnW9AIVSrEsFmWt1bTYgX1BMwWd0coDLkJ1SLYiPIHCEkvbI9WC7oDUUkQxphr0RWunqZ/x2QesczpGAEnd2KchMxiSMYupZ/7J6j8wAIGVYVV6xGka1d0c59Y25oX19AYUN+3rrg/zgA0QufqsUVVJZVub5nvLQcHLgWe5EiOEbeNQOKEkOrqfolo/6Ax2cVXIA1UAAAAASUVORK5CYII=')
        no-repeat;
    background-size: 16px 16px;
}
.circle-down {
    position: relative;
    left: 20px;
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABXklEQVR4nKWU0XGCQBCGv0XfTQexBCPk3Q5CB5IOKMEStIJoB1hBeA8oJWgHWIDZPHAYhOOYmH+GGWD3vlu43V+wyM+YAKG5nlrhEkiAJA+4tNeKBbZUWEsXdCeFUiDOA3a9wHnGh0DkAlnA20PAewfoZyyB7V9gDUV1pQIw++JtJCQPwgC4KmHxyl78jIlCITDtS1Y4md2dOQKzMRC5EgG+lRjA9RWGEY2BhQsGpMUrewA/Ix3IX3hUvdZfnfd76s37HoWeK6rK+jjnXD8f55xVWLnW9AIVSrEsFmWt1bTYgX1BMwWd0coDLkJ1SLYiPIHCEkvbI9WC7oDUUkQxphr0RWunqZ/x2QesczpGAEnd2KchMxiSMYupZ/7J6j8wAIGVYVV6xGka1d0c59Y25oX19AYUN+3rrg/zgA0QufqsUVVJZVub5nvLQcHLgWe5EiOEbeNQOKEkOrqfolo/6Ax2cVXIA1UAAAAASUVORK5CYII=')
        no-repeat;
    background-size: 16px 16px;
    transform: rotate(180deg);
    float: left;
}
.circle-delete-row {
    position: relative;
    left: 20px;
    top: -8px;
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA9ElEQVR4nK2UYRGDMAyFvylgDiYBCZPAHCABCZMwCUgAB0hAAhK6Kcj+tFwvS9pxG3fvT8v7LnnJ9YTxCTTALeqsrp/ADMwneFl+DesFgoBUFAT6Gmz8AqQ1lio7CkvqNaz7AZbU7QMQ2Ix8poJ5jcrPNoEGgcEwXAuZrrGIxhjegFPJGldHQ0fnPGmi0labmccsIjeOEjBl2eYLb2R3CCgCSwa81/7HCNYbQCm7vSMEli9gaU1q0MVbGw3zBqV9Qwpat90VBhAEWsMXUgdelVtl+p9L/YeXZl9478WxKq1pMGHqGfvPA5tBLwIPJ8ct3l0s7xuJ0U9kwmLTRQAAAABJRU5ErkJggg==')
        no-repeat;
    background-size: 16px 16px;
    float: left;
}
.circle-right {
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABXklEQVR4nKWU0XGCQBCGv0XfTQexBCPk3Q5CB5IOKMEStIJoB1hBeA8oJWgHWIDZPHAYhOOYmH+GGWD3vlu43V+wyM+YAKG5nlrhEkiAJA+4tNeKBbZUWEsXdCeFUiDOA3a9wHnGh0DkAlnA20PAewfoZyyB7V9gDUV1pQIw++JtJCQPwgC4KmHxyl78jIlCITDtS1Y4md2dOQKzMRC5EgG+lRjA9RWGEY2BhQsGpMUrewA/Ix3IX3hUvdZfnfd76s37HoWeK6rK+jjnXD8f55xVWLnW9AIVSrEsFmWt1bTYgX1BMwWd0coDLkJ1SLYiPIHCEkvbI9WC7oDUUkQxphr0RWunqZ/x2QesczpGAEnd2KchMxiSMYupZ/7J6j8wAIGVYVV6xGka1d0c59Y25oX19AYUN+3rrg/zgA0QufqsUVVJZVub5nvLQcHLgWe5EiOEbeNQOKEkOrqfolo/6Ax2cVXIA1UAAAAASUVORK5CYII=')
        no-repeat;
    background-size: 16px 16px;
    transform: rotate(90deg);
    float: left;
}
.circle-left {
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABXklEQVR4nKWU0XGCQBCGv0XfTQexBCPk3Q5CB5IOKMEStIJoB1hBeA8oJWgHWIDZPHAYhOOYmH+GGWD3vlu43V+wyM+YAKG5nlrhEkiAJA+4tNeKBbZUWEsXdCeFUiDOA3a9wHnGh0DkAlnA20PAewfoZyyB7V9gDUV1pQIw++JtJCQPwgC4KmHxyl78jIlCITDtS1Y4md2dOQKzMRC5EgG+lRjA9RWGEY2BhQsGpMUrewA/Ix3IX3hUvdZfnfd76s37HoWeK6rK+jjnXD8f55xVWLnW9AIVSrEsFmWt1bTYgX1BMwWd0coDLkJ1SLYiPIHCEkvbI9WC7oDUUkQxphr0RWunqZ/x2QesczpGAEnd2KchMxiSMYupZ/7J6j8wAIGVYVV6xGka1d0c59Y25oX19AYUN+3rrg/zgA0QufqsUVVJZVub5nvLQcHLgWe5EiOEbeNQOKEkOrqfolo/6Ax2cVXIA1UAAAAASUVORK5CYII=')
        no-repeat;
    background-size: 16px 16px;
    transform: rotate(-90deg);
    float: left;
}
.circle-delete {
    position: relative;
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA9ElEQVR4nK2UYRGDMAyFvylgDiYBCZPAHCABCZMwCUgAB0hAAhK6Kcj+tFwvS9pxG3fvT8v7LnnJ9YTxCTTALeqsrp/ADMwneFl+DesFgoBUFAT6Gmz8AqQ1lio7CkvqNaz7AZbU7QMQ2Ix8poJ5jcrPNoEGgcEwXAuZrrGIxhjegFPJGldHQ0fnPGmi0labmccsIjeOEjBl2eYLb2R3CCgCSwa81/7HCNYbQCm7vSMEli9gaU1q0MVbGw3zBqV9Qwpat90VBhAEWsMXUgdelVtl+p9L/YeXZl9478WxKq1pMGHqGfvPA5tBLwIPJ8ct3l0s7xuJ0U9kwmLTRQAAAABJRU5ErkJggg==')
        no-repeat;
    background-size: 16px 16px;
    float: left;
}
/*
* Buttons menu
*/
.btn-arrows {
    text-decoration: none;
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
    cursor: pointer;
}


/*
*   Contextmenu style
*/
.context {
    display: none;
    margin: 0px;
    padding: 5px 5px 5px 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: #ECF5FD; 
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.context-list {
    font-family: Tahoma, Arial;
    font-size: 12px;
    color: #4D5053;
}

.context-list li {
    list-style: none;
    margin: 0px;
    padding: 0px; 
}

.context-show {
    display: block;
}

.btn-context {
    width: 100%;
    text-align: left;
    text-decoration: none;
    background: #ECF5FD;
    border: none;
    cursor: pointer;
    display: block;
    padding: 10px 5px 10px 10px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
    color: #999999;
}

.btn-context:hover {
    background: #BBD2D7;
    color: white;
}
.btn-disabled {
    width: 100%;
    text-align: left;
    text-decoration: none;
    background: #ECF5FD;
    border: none;
    cursor: auto;
    display: block;
    padding: 10px 5px 10px 10px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
    color: #A6CCD5;
}
/*
* Css style for table
*/
#yourTable {
    margin: 20px;
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  overflow: auto;
}
#yourTable th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}
#yourTable td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 10px 20px;
}

.btn-save-container {
    position: absolute;
    display: none;
}
.btn-save-wrapper {
    margin: 0px auto;
    text-align: center;
}

.btn-save {
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
 .btn-save:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}
 .btn-save:active {
	position:relative;
        background:rgb(112, 196, 105);
}

.btn-edit-container {
        padding: 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100px;
}
.btn-edit-wrapper {
        margin: 0px auto;
        text-align: center;
}

.btn-edit {
	-moz-box-shadow:inset 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f0f7fa;
	box-shadow:inset 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.btn-edit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.btn-edit:active {
	position:relative;
	top:1px;
}
/*
* Sorting array
*/
.sort-arrow {
    width: 0px;
    height: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid green;
    position: relative;
    left: 5px;
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}

.sort-arrow-up {
    visibility: visible;
}
.sort-arrow-down {
    visibility: visible;
    transform: rotateX(180deg);
}

/*
* Edit mode - sort button
*/
.edit-sort {
    width: 70px;
    position: absolute;
    background: #70c469;
    padding-bottom: 2px;
    display: none;
}

.edit-sort-show {
    display: block;
}

.edit-sort-hide {
    display: none;
}

.edit-sort label {
    font-family: Tahom,Arial;
    font-size: 10px;
    color: #ffffff;
    margin: 5px;
}

.edit-sort input {
    vertical-align: bottom;
    margin-left: 5px;
}

.display-json {
    width: 550px;
    margin: 10px;
    padding: 5px;
    font-family: tahoma, arial;
    font-size: 14px;
    color: #7e827e;
    line-height: 170%;
}